In [2]:
print('hi')

hi

### Different modes of exceution :
> - Interactive cmd python >>> quit()
> - Scripting .py dir python filename.py
> - IDE ctrl + enter

### Datatypes :
> - int 10 25 366666666 immutable not itearble 
> - float 10.255 36..555 immutable not iterable 
> - str '' "" """ """ immutable iterable 
> - list [10,20,30,25.2555,"Python",[100,200,300]] mutable  itearble 
> - tuple (10,20,30,40) immutable itearble
> - dict {'name':'abc','email':'abc@xyz.com'} mutable  itearble 
> - set {10,20,35,45} mutable itearble 
> - bool True False immutable

In [3]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [ ]:
1005      1009
Num1      Num2
100       200

In [ ]:
100 num1,num2

In [13]:
num3 = 20
num4 = 20
print(type(num3),type(num4))
print(id(num3),id(num4))
num3 = "zekeLabs"
print(type(num3))

<class 'int'> <class 'int'>
1389653664 1389653664
<class 'str'>

In [ ]:
Object Intering 
0-256


20 
zekeLabs num3,num4

In [18]:
s = "Python"
print(type(s))

l = [100,200,300,'Python']
print(id(l))
l.append(400)
print(id(l))
print(l)

<class 'str'>
1359024327240
1359024327240
[100, 200, 300, 'Python', 400]

num5 = 200
print(id(num5))
num5 = 202
print(id(num5))

Mutable => methods to add update and delete the elements 
Immutable => no methods to add update and delete

Operators :
> - Arithmetic operators : + - * / //-floor, ** power %
> - comparison operators ==,!=,<,>,<=,>= => True False 
> - Identity opeartors is is not 
> - Membership Operators in not in
> - Logical operators and or not 
> - Assignment Operators =,+=,-=,/=,//=,**=

In [25]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(100 ** 0.5)

3.3333333333333335
3
1
10.0

In [30]:
num7 = 100
num8 = 100
print(num7 == num8)

s1 = "Python"
s2 ='python'

print(s1 == s2)

l1 = [10,20,30]
l2 = [10,20]
print(l1 != l2)

True
False
True

In [35]:
num10 = 100
num11 = 100
print(num10 == num11)
print(num10 is num11)

l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))
print(l1 == l2)
print(l1 is not l2)

True
True
1359024714056 1359024716680
True
True

In [38]:
l = [10,20,30,40,50]
print(300 in l)

num11 = 600
print(6 in 600)

False

TypeError: argument of type 'int' is not iterable

In [44]:
s3 = "Python,Java,C++"
print("P" in s3)

d = {1:1,2:4,3:9,4:16}
print(9 not in d)

True
True

In [46]:
print(not(8 == 8 and 6 !=7))

False

In [50]:
num12 = 300
print(num12)
num12 = num12 + 5
print(num12)
num12 *= 5
print(num12)

300
305
1525

Conditional Statements

Syntax : 

if [condition]:
    statements
elif [condition]:
    statements 
else:
    statements

In [60]:
a = 400
b = 300

if a > b:
    print("a is greater")
    print("just another statement")
elif b > a:
    print('b is greater ')
else:
    print("Both are equal")

a is greater
just another sattemnt

In [65]:
num6 = 24 
if num6 % 2 == 0 :
    print("Even")
else:
    print("Odd")

Even

In [72]:
if [10] :
    print("Python")
else:
    print("Java")

Python